<div class="col-md-6">
	<div class="card mb-4">
		<div class="card-header bg-warning">
			<h5>{{burger_name}}</h5>
		</div>
		<div class="card-body bg-light">
			{{#if devoured}}{{else}}
			<button class="change-devoured bg-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
				DEVOUR!
			</button>
			{{/if}}
			<button class="delete-burger bg-danger" data-id="{{this.id}}">DELETE!</button>
		</div>
	</div>
</div>
