<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" method="PUT" action="/api/burgers/:id">
		{{#if devoured}}MAKE ANOTHER!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>